include CHANGELOG.md
include LICENSE.txt
include requirements.txt
include README.rst
include pyfftw/pyfftw.pyx
include pyfftw/pyfftw.pxd
include pyfftw/cpu.pxd
include pyfftw/utils.pxi
include test/*.py
include conf.py
include index.rst
recursive-include pyfftw *.rst
recursive-include sphinx *.rst
recursive-include include *.h
