include CHANGELOG.md
include LICENSE.txt
include requirements.txt
include README.rst
include pyfftw/pyfftw.c
include pyfftw/pyfftw.pyx
include pyfftw/pyfftw.pxd
include pyfftw/cpu.pxd
include pyfftw/utils.pxi
include test/test_*.py
include test/__init__.py
recursive-include include *.h
recursive-include docs *.html *.css *.png *.js *.rst
