name: CI Ubuntu

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14-dev"]

    steps:
    - name: apt install
      run: |
        sudo apt-get update
        sudo apt install -y libfftw3-dev
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install PDM
      run: |
        python -m pip install --upgrade pip
        pip install pdm

    - name: Install dependencies
      run: |
        pdm sync

    - name: Test
      run: |
        pdm run pytest tests
